*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 15px;
    background-color: pink;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    border: 1px solid red;
    border-radius: 10px;
}

.main{
    background-color: pink;
    width: 200px;
    height: auto;
    text-align: center;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;

}

li{
    list-style: none;
    text-align: left;
    padding: 0 0 0 20px;
}