h1{
    font-size: 15px;
    background-color: black;
    width: 280px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

main{
    text-align: center;
    background-color: black;
    width: 280px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

button{
    background-color: black;
    color: white;
}

#calendar{
    margin: 30px auto;
    width: 62%;
}