*{
    padding:0;
    margin: 0;
}

h1{
    background-color: aqua;
    width: 80px;
    font-size: 10px;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 5px;
}

input{
    width: 60px;
    text-align: right;
}

.cal{
    background-color: aqua;
    width:80px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}